* {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex-grow: 1;
  background-color: #f7f8f9;
}

header {
  height: auto;
}

h1 {
  text-align: center;
  padding-top: 2em;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 3em;
  position: relative;
}

.main1,
.main2,
.main3 {
  background-repeat: no-repeat;
}

.main1,
.main2 {
  min-height: 100vh;
}

.main1,
.main3 {
  text-align: center;
  background-size: cover;
  background-position: center;
}

.main1 {
  position: relative;
  padding-top: 10vh;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("./images/background-photo-adventurous-man.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
}

.main2 {
  background-image: url("./images/aboutus_decoration.png");
  background-color: #1a212e;
  /* gjør siden mobilvennlig*/
  background-size: 100% auto;
  background-position: bottom;
}

.wrap2 {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main2 h3 {
  color: #fa9c4b;
  padding-bottom: 20px;
}

.main3 {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("./images/landscape-photo.jpg");
  background-position: top;
  text-align: center;
  background-size: cover;
  min-height: 30rem;
}

.main3 p {
  position: relative;
  font-size: 1.8em;
}
.main3 h2 {
  position: relative;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 2.5em;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1,
.btn2 {
  display: block;
  border: solid 2px #1a212e;
  font-size: 16px;
  line-height: 1;
  padding: 16px 30px;
  border-radius: 30px;
  color: #1a212e;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
}

.btn1 {
  background-color: rgba(250, 156, 75, 0.8);
  margin-top: 50px;
}

.btn1:hover,
.btn1:focus {
  background-color: rgba(250, 156, 75, 1);
}

.btn2 {
  background-color: rgba(250, 208, 77, 0.8);
  margin-top: 30px;
}

.btn2:hover,
.btn2:focus {
  background-color: rgba(250, 208, 77, 1);
}

.box {
  align-items: center;
  width: 400px;
  float: left;
  padding: 50px 50px 50px 50px;
  color: rgba(250, 250, 250, 0.5);
  max-height: 320px;
  margin-left: 50px;
  margin-right: 50px;
}

.main3 p {
  padding-top: 80px;
}

.item {
  justify-content: center;
  text-align: center;
}
.item a {
  text-decoration: none;
}

.btn2 {
  display: inline-flex;
}

/* Make homepage responsive*/

@media (max-width: 1000px) and (min-width: 1px) {
  .wrap2 {
    padding-bottom: 200px;
    padding-top: 100px;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  .main3 p {
    font-size: 1.6em;
  }

  .main3 h2 {
    font-size: 2.2em;
  }

  .btn1,
  .btn2 {
    font-size: 14px;
    padding: 14px 26px;
  }
}

@media (max-width: 600px) and (min-width: 400px) {
  h1 {
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5;
  }

  .main3 p {
    font-size: 1.3em;
  }

  .main3 h2 {
    font-size: 1.8em;
  }

  .btn1,
  .btn2 {
    font-size: 14px;
    padding: 12px 22px;
  }
}

@media (max-width: 400px) and (min-width: 100px) {
  footer {
    height: 220px;
  }

  .main3 p {
    font-size: 1.1em;
  }

  .main3 h2 {
    font-size: 1.5em;
  }

  .footer h3 {
    font-size: 18px;
  }

  #Contact h4 {
    font-size: 15px;
  }

  #Contact h5 {
    font-size: 13px;
  }

  .box p {
    font-size: 14px;
  }

  .box h3 {
    font-size: 15px;
  }

  .box {
    padding: 50px 20px 50px 20px;
  }

  .btn1,
  .btn2 {
    font-size: 14px;
    padding: 12px 22px;
  }

  h1 {
    font-size: 1.7em;
  }
}

/* Styling SHOP*/

.background {
  background-color: #f7f8f9;
  margin-bottom: 7rem;
}

.background2 {
  background-color: #f7f8f9;
  margin-bottom: 7rem;
}

.jacket-1 {
  padding-top: 200px;
}

.jacket-1,
.jacket-2,
.jacket-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jacket-info {
  justify-content: center;
  margin: 40px;
}

.jacket-image {
  width: auto;
  height: 394px;
  text-align: center;
  margin: 40px;
}

.jacket-1 img,
.jacket-2 img,
.jacket-3 img {
  width: 500px;
}

/* Size-dropdown*/

#Sizes {
  display: block;
  background-color: white;
  width: 150px;
  padding: 5px;
  border-radius: 2px;
  color: #1a212e;
}

.jacket-info ul {
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 2;
}

.jacket-info h3 {
  font-family: "Merriweather", serif;
  font-weight: bolder;
  font-size: 22px;
}

/* Add-to-cart button */

.btnbuy {
  border: solid 2px #1a212e;
  background-color: rgba(26, 33, 46, 0.8);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  color: #c1ced3;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  margin-top: 20px;
}

.btnbuy:hover {
  background-color: rgba(26, 33, 46, 1);
}

.btnbuy:active {
  background-color: orange;
  transition: all 0.01s linear;
}

/* Buttons jackets */

.btnblue,
.btnyellow,
.btnorange,
.btnnavy,
.btngreen {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: none;
  margin: 5px;
}

.btnblue {
  background-color: rgba(57, 74, 113, 0.6);
  border: solid 1px rgba(57, 74, 113, 0);
}

.btnyellow {
  background-color: rgba(238, 223, 0, 0.6);
  border: solid 1px rgba(238, 223, 0, 0);
}

.btnorange {
  background-color: rgba(161, 66, 24, 0.6);
  border: solid 1px rgba(161, 66, 24, 0);
}

.btnnavy {
  background-color: rgba(10, 32, 66, 0.6);
  border: solid 1px rgba(10, 32, 66, 0);
}

.btngreen {
  background-color: #d9e0cd;
  border: solid 1px #1a212e;
}

.btnyellow:hover,
.btnyellow:focus {
  background-color: rgba(238, 223, 0, 1);
  border: solid 1px #000;
}

.btnblue:hover,
.btnblue:focus {
  background-color: rgba(57, 74, 113, 1);
  border: solid 1px #000;
}

.btnorange:hover,
.btnorange:focus {
  background-color: rgba(161, 66, 24, 0.8);
  border: solid 1px #1a212e;
}

.btnnavy:hover,
.btnnavy:focus {
  background-color: rgba(10, 32, 66, 1);
  border: solid 1px #000;
}

.btns {
  padding: 5px;
}

/* Extra information underneath Add-to-cart button */

.extrainfo {
  padding-top: 20px;
}

.extrainfo a {
  display: block;
  padding: 6px;
  color: #707070;
  font-size: 12px;
  font-weight: 100;
}

.myDIV {
  display: block;
  padding: 6px;
  color: #707070;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
}

.hide {
  display: none;
  max-width: 200px;
}

.myDIV:hover + .hide {
  display: block;
  padding: 6px;
  color: #1a212e;
  font-size: 12px;
  font-weight: 100;
}

.myDIV:hover {
  color: #1a212e;
  font-weight: 700;
  padding: 2px;
}

/* Size-chart Popup */

.center {
  margin-top: 10px;
}

.center a {
  padding: 5px 5px;
  color: #111;
  font-size: 11px;
  font-weight: 600;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

#popup,
#popup2,
#popup3 {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 3;
  overflow-x: auto;
  position: fixed;
}

#popup .popup-content,
#popup2 .popup-content,
#popup3 .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 10px 20px;
  background: #eee;
  border-radius: 5px 5px 0 0;
}

#popup a.close-popup,
#popup2 a.close-popup,
#popup3 a.close-popup {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #1a212e;
}

#popup:target,
#popup2:target,
#popup3:target {
  display: block;
}

.content-table {
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #1a212e;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #1a212e;
}

.tablefooter {
  font-size: 14px;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

/* Making the Shop site responsive */

@media (max-width: 880px) {
  .hide {
    max-width: 140px;
  }

  .jacket-info {
    margin: 60px;
  }

  .jacket-image {
    margin: 60px;
  }
}

@media (max-width: 600px) and (min-width: 530px) {
  .jacket-image {
    height: 370px;
    margin: 0px;
  }

  .jacket-1 img,
  .jacket-2 img,
  .jacket-3 img {
    width: 430px;
  }

  .jacket-info + li {
    line-height: 1.8;
    font-size: 15px;
  }

  .jacket-info h3 {
    font-size: 20px;
  }

  .center a {
    font-size: 10px;
  }
}

@media (max-width: 550px) and (min-width: 350px) {
  .jacket-image {
    height: 300px;
    margin: 0px;
  }

  .jacket-1 img,
  .jacket-2 img,
  .jacket-3 img {
    width: 330px;
  }

  .jacket-info + ul {
    line-height: 1.8;
    font-size: 14px;
  }

  .jacket-info h3 {
    font-size: 18px;
  }

  .center a {
    font-size: 10px;
  }

  .myDIV:hover + .hide {
    font-size: 10px;
  }

  .myDIV {
    font-size: 10px;
  }
}

@media (max-width: 350px) and (min-width: 1px) {
  .jacket-image {
    height: auto;
    margin: 0px;
  }

  .jacket-1 img,
  .jacket-2 img,
  .jacket-3 img {
    width: 90vw;
  }

  .jacket-info + ul {
    line-height: 1.8;
    font-size: 14px;
  }

  .jacket-info h3 {
    font-size: 18px;
  }

  .center a {
    font-size: 10px;
  }

  .myDIV:hover + .hide {
    font-size: 10px;
  }
  .myDIV {
    font-size: 10px;
  }
}

@media (max-width: 750px) and (min-width: 150px) {
  #popup .popup-content,
  #popup2 .popup-content,
  #popup3 .popup-content {
    width: 80%;
  }

  .popup-content {
    width: 80%;
    overflow-x: auto;
  }

  #popup a.close-popup,
  #popup2 a.close-popup,
  #popup3 a.close-popup {
    top: 2px;
    right: 8px;
  }

  .tablefooter {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Styling footer */

.wrapfooter {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

footer {
  background-image: url("./images/footer-background.png");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}

.footer h3,
h4,
h5 {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}

.footer h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #1a212e;
  padding-top: 30px;
}

.footer h4 {
  font-size: 20px;
  font-weight: lighter;
}

.footer h5 {
  font-size: 16px;
  font-weight: lighter;
}

.footerbottom {
  padding-top: 30px;
}

.footerbottom a {
  color: #1a212e;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

/* Styling CART */

input[type="text"] {
  width: 300px;
  padding: 12px;
  border: none;
  background-color: #00000000;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
}

label {
  display: block;
  justify-content: center;
}

.wrap-cart {
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-cart h3 {
  padding-bottom: 30px;
}

.shipping-address,
.payment-information {
  width: 30%;
  display: inline;
  width: auto;
  margin: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.payment-information a {
  text-decoration: none;
}

.container-cart-typein {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 16px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.country {
  width: 100px;
}

.btnpay {
  display: block;
  border: solid 2px #1a212e;
  background-color: rgba(26, 33, 46, 0.8);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  color: #c1ced3;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  margin-top: 20px;
  width: 300px;
  height: 50px;
}

.btnpay:hover {
  background-color: rgba(26, 33, 46, 1);
}

.btnpay:active {
  background-color: orange;
  transition: all 0.01s linear;
}

.icon-container {
  padding-bottom: 20px;
}

/* Styling CART-Summary left */

.container-cart-summary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 16px;
  justify-content: center;
  text-align: center;
}

.container-cart-summary img {
  max-width: 300px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line p {
  padding: 5px;
}

.line h5 {
  padding: 5px;
  font-size: 16px;
}

.additional-information {
  text-align: left;
  font-size: 12px;
  margin-top: 15px;
}
.striped-border {
  border: 1px solid #000;
  margin-top: 3px;
}

.product-summary {
  margin-top: 30px;
  padding: 20px;
}

.price-summary {
  text-align: left;
  margin: 30px;
  padding: 20px;
  padding-top: 50px;
}

.price-summary img {
  background-color: rgba(193, 206, 211, 0.45);
  border-radius: 10px;
  margin-top: 10px;
}

.edit {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
}

.edit #Sizes {
  display: block;
  background-color: white;
  width: 80px;
  border-radius: 2px;
  color: #1a212e;
}
.edit #color-select {
  display: block;
  background-color: white;
  width: 80px;
  border-radius: 2px;
  color: #1a212e;
}

.btn-edit-wrap {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  border: solid 1px #767676;
  width: 80px;
  background-color: white;
  margin-left: 10px;
}

.btnedit-minus,
.btnedit-plus {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 19px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.btnedit-qnt {
  display: inline-block;
  font-size: 12px;
  border: none;
  padding: 5px;
  width: 100%;
  background-color: white;
  border: solid 1px #767676;
  margin: -1px 0px -1px 0px;
}

.back-to-shop {
  position: top;
  margin-top: 150px;
  margin-left: 40px;
}

.back-to-shop a {
  color: #1a212e;
  padding-left: 5px;
}

.removebtn {
  text-align: right;
  cursor: pointer;
}

.product-summary h2 {
  font-family: "Merriweather", serif;
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 10px;
}

/* Styling Checkout Success site */

.purchase-summary {
  max-width: 350px;
}
.order-confirmation {
  max-width: 400px;
  padding: 0px;
  color: #c1ced3;
}

.checkout-success-summary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 16px;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
}

.purchase-summary .price-summary {
  border: solid 1px #c1ced3;
  border-radius: 5px;
  color: #c1ced3;
}

.price-summary img {
  width: 200px;
  padding: 20px;
}
.delivery-adress {
  margin: 30px;
}

.price-summary .striped-border {
  border: 1px solid #c1ced3;
}

.order-confirmation img {
  width: 350px;
}

.order-confirmation h2 {
  font-size: 21px;
  padding-bottom: 10px;
  font-weight: bold;
}

.item .btn1 {
  width: 100%;
  display: block;
  border: solid 2px #1a212e;
  font-size: 16px;
  line-height: 1;
  padding: 16px 30px;
  border-radius: 30px;
  color: #1a212e;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  background-color: rgba(250, 156, 75, 0.8);
  margin-top: 30px;
}

.item .btn1:hover,
.item .btn1:focus {
  background-color: rgba(250, 156, 75, 1);
}

.image-checkout-succsess img {
  width: 750px;
}
.image-checkout-succsess {
  background-image: url("/images/mountains-view-from-sea.jpg");
  background-size: cover;
  width: 700px;
  display: table;
  margin: 0 auto;
  justify-content: center;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.comp-info {
  padding: 20px;
  width: 260px;
  height: auto;
  background-color: rgba(26, 33, 46, 0.8);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #c1ced3;
}

.comp-info ul {
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.comp-info h2 {
  padding-left: 20px;
  padding-bottom: 8px;
  text-align: left;
  color: #fad04d;
  font-weight: bold;
}

.comp-info .btn2 {
  display: block;
  border: solid 2px #1a212e;
  font-size: 14px;
  line-height: 1;
  padding: 10px 15px;
  margin: auto;
}

.background-cart-site {
  background-color: #1a212e;
}

.comp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.comp span {
  font-weight: bolder;
  color: #fad04d;
}

/* Responsive CART */

@media (max-width: 400px) and (min-width: 100px) {
  input[type="text"] {
    width: 200px;
    padding: 6px;
    border: none;
    background-color: #00000000;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
  }

  .btnpay {
    display: block;
    border: solid 2px #1a212e;
    background-color: rgba(26, 33, 46, 0.8);
    font-size: 16px;
    border-radius: 30px;
    color: #c1ced3;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s linear;
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 50px;
  }

  .product-summary img {
    width: 200px;
  }

  .edit #Sizes,
  .edit #color-select {
    width: 60px;
    font-size: 10px;
    margin: 5px;
  }
  .edit #color-select {
    margin-left: 10px;
  }

  .btn-edit-wrap {
    font-size: 0px;
    height: auto;
    height: 28px;
    margin-top: 5px;
  }

  /* Responsive footer */

  .footerbottom a {
    display: block;
    padding: 4px;
    font-size: 12px;
  }

  .wrapfooter {
    background-color: #e8edef;
    z-index: 1;
  }

  /* Responsive Checkout-Success */

  .image-checkout-succsess {
    margin: 0 auto;
  }
  .footer h3 {
    font-size: 17px;
  }

  .item .btn1 {
    padding: 12px;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .image-checkout-succsess {
    margin-bottom: 0px;
  }
}

@media (max-width: 733px) {
  .checkout-success-summary {
    padding-top: 100px;
  }
}
